[Unit]
Description=Production Lab Service B
After=network.target service-c.service
Requires=service-c.service

[Service]
User=lwambisrat
WorkingDirectory=/home/lwambisrat.guest/production-service-lab
ExecStart=/home/lwambisrat.guest/production-service-lab/venv/bin/uvicorn services.service-b.app:app --host 127.0.0.1 --port 3002
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
