[Unit]
Description=Production Lab Service A
After=network.target service-b.service service-c.service
Requires=service-b.service service-c.service

[Service]
User=lwambisrat
WorkingDirectory=/home/lwambisrat.guest/production-service-lab
ExecStart=/home/lwambisrat.guest/production-service-lab/venv/bin/uvicorn services.service-a.app:app --host 127.0.0.1 --port 3001
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
